span {
  font-size: 4rem;
  font-family: "Roboto", sans-serif;
}
.fancy-font {
  font-family: "Roboto", sans-serif;
}
.uc {
  font-size: 4rem;
}
.parent {
  border: 2px solid #000000;
  height: 98vh;
  position: relative;
  width: 100%;
}

.child {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
@media screen and (min-width: 300px) {
  .need-space {
    visibility: hidden;
  }
}

a {
  display: inline-block;
  border-radius: 50%;
  margin-left: 0;
}

a:hover .right {
  border: 0.5em solid #e74c3c;
}

a:hover .right:after {
  border-top: 0.5em solid #e74c3c;
  border-right: 0.5em solid #e74c3c;
}

.right {
  display: inline-block;
  width: 4em;
  height: 4em;
  border: 0.5em solid #333;
  border-radius: 50%;
}

.right:after {
  content: "";
  display: inline-block;
  margin-top: 1.05em;
  margin-left: -0.6em;
  width: 1.4em;
  height: 1.4em;
  border-top: 0.5em solid #333;
  border-right: 0.5em solid #333;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
